.segment {
  padding: 10px 30px;
  display: inline-block;
  width: 80%;
  max-height: 110px;
  margin: 20px;
  box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(16, 15, 17, 0.7);
  overflow-y: hidden;
}

.active {
  max-height: 100%;
}

.buttons {
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  width: 25px;
  height: 2rem;
  border: none;
  font-size: 1rem;
  text-align: start;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: width 0.1s linear;
  background-color: inherit;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  word-break: none;
}

.btn span {
  opacity: 0;
  transition: opacity 0.1s linear;
  overflow: hidden;
  position: absolute;
  left: 12%;
}

.btn:hover span {
  display: inline;
  opacity: 100%;
}

.btn:hover {
  width: 60%;
  background-color: rgb(248, 248, 248);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  color: rgb(15, 15, 15);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.buttonGreen {
  background-color: rgb(0, 252, 168);
}

.buttonRed {
  background-color: rgb(252, 0, 42);
}
