.cardCollection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  text-align: start;
  margin: 10px auto;
  font-size: 1.3rem;
  word-wrap: break-word;
  color: rgb(155, 151, 146);
  overflow: hidden;
}
